* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted red;
    min-height: 100vh;
}

.display-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    overflow: hidden;
    overflow: scroll;
    overflow-y: hidden;
    width: 340px;
    height: 120px;
    background-color: lightgray;
    margin-left: 30px;
    margin-top: 2px;
    border-radius: 10px;
}

#calculator {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 600px;
    flex-wrap: wrap;
    border: black;
    border-radius: 10px;
    background-color: black;
    padding: 20px;
}

.numbers, .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 120px;
    width: 120px;
    margin: 2px;
    border: black solid;
    border-radius: 10px;
}

.clear {
    margin-bottom: 30px;
}